<header class = "header">
  <h1>Todo App</h1>
  <input class = "new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoItem.description" (keyup.enter)="addTodo()">
  <button class="add" (click)="addTodo()">Add</button>
  <button class="check-all" (click)="checkAllTodoItems()">Check All</button>
</header>
