<section class = "main" *ngIf="todoItems.length > 0" >
   <ul class ="todo-list">
     <li *ngFor = "let todo of todoItems">
        <app-todo-item [todoItem]="todo" (toggleComplete)="completeTodo($event)"(remove)="deleteTodo($event)">
        </app-todo-item>
     </li>
   </ul>
</section>
