.destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  border: 0;
  background-color: transparent;
}

.destroy:hover {
  color: #af5b5e;
}

.destroy:after {
  content: '×';
}

.view:hover .destroy {
  display: block;
}

.toggle {
  text-align: center;
  width: 25px;
  /*auto, since non-WebKit browsers doesn't support input styling */
  height: 25px;
  position: absolute;
  top: 2px;
  bottom: 15px;
  margin: 10px 20px;
  border: none;
  /* Mobile Safari */
  /* -webkit-appearance: none;
   appearance: none;*/
}

.toggle:after {
  background-color: green;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.toggle:checked:after {
  background-color: green;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.toggle {
  background: none;
  height: 40px;
}

label {
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

label.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

.edit {
  display: none;
}

.editing {
  border-bottom: none;
  padding: 0;
}
.editing .edit {
  display: block;
  width: 400px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}
.editing .view {
  display: none;
}
.edit {
  position: relative;
  margin: 0;
  width: 90%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px  #999999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
