<div class ="view"  [class.editing]="editMode">
  <input *ngIf="!editMode" class ="toggle" type="checkbox" (click)="toggleTodoComplete(todoItem)" [checked]="todoItem.complete">
  <label *ngIf="!editMode" (dblclick)="enterEditMode(todoItemInput)" [class.completed] = "todoItem.complete">{{todoItem.description}}</label >
  <button *ngIf="!editMode" class="destroy" (click)="removeTodo(todoItem)"></button>

<input class = "edit" [value] = "todoItem.description"  (keyup.enter)="commitEdit(todoItemInput.value)"
       (keyup.escape)="cancelEdit(todoItemInput)" (blur)="commitEdit(todoItemInput.value)" #todoItemInput>
</div>
