button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.add {
  cursor: pointer;
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.add:hover {
  border-color: rgba(175, 47, 47, 0.1);
}
.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

/*.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}*/

.todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.all-items {
  cursor: pointer;
  margin: 0px 0px 0px 110px;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.all-items:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.completed-items {
  cursor: pointer;
  margin: 0px 0px;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.completed-items:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.deleted-items {
  cursor: pointer;
  margin: 0px 0px;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.deleted-items:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.clear-completed-items {
  cursor: pointer;
  margin: 0px 0px;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.clear-completed-items:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.hidden {
  display: none;
}
