<section class ="todoapp">
  <app-todo-list-header [todoItems]="todoItems" (checkAllItems)="checkAllTodoItemAsComplete($event)" (add)="addTodoItem($event)"></app-todo-list-header>

   <app-todo-list [todoItems]="todoItems" (completeItem)="completeTodoItem($event)"
                  (remove)="deleteTodoItem($event)"></app-todo-list>

  <footer class="footer">
    <span class ="todo-count"><strong>{{todoItems.length}}</strong> {{todoItems.length == 1 ? 'item' : 'items'}} left</span>
    <button class="all-items" (click)="ngOnInit()">All</button>
    <button class="completed-items" (click)="filterTodoList(true,true,false)">Completed</button>
    <button class="deleted-items" (click)="filterTodoList(false,false,true)">Todo</button>
    <button *ngIf="showClearCompletedItemsButton()" class="clear-completed-items" (click)="clearAllCompletedItems()">Clear Completed</button>


  </footer>

</section>
